<div class= "center">
        <div class= "info"
                Order Number:#<%= @order.id%> <br>
                Status: 
                        <%if @order.confirm%>
                                <%= "Completed"%>
                        <%else%>
                        <%= "Incompleted"%>
                                <%= link_to "(Continue on your order)", confirm_order_path(@order.sale, @order)%>
                                <%= link_to "Delete Order", sale_order_path(@order.sale), method: 'delete'%>
                        <%end%><br>
                Cultivar:<%= @order.sale.cultivar.name%> <br>
                Seller:<%= @order.sale.user.name%> <br>
                Seed Amount: <%= @order.seed_amount%> <br>
                Total: $<%= @order.total %>
        </div>
</div>


